@if (article$ | async; as article) {
  <div class="article-page">
    <div class="banner">
      <div class="container">
        <h1>{{ article.title }}</h1>

        <ng-container *ngTemplateOutlet="articleMeta; context: { $implicit: article }"></ng-container>
      </div>
    </div>

    <div class="container page">
      <div class="row article-content">
        <div class="col-md-12">
          <div [innerHTML]="article.body | markdown | async"></div>

          <ul class="tag-list">
            @for (tag of article.tagList; track tag) {
              <li class="tag-default tag-pill tag-outline">{{ tag }}</li>
            }
          </ul>
        </div>
      </div>

      <hr />

      <div class="article-actions">
        <ng-container *ngTemplateOutlet="articleMeta; context: { $implicit: article }"></ng-container>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-8 offset-md-2">
          <app-article-comments [currentUser]="currentUser$ | async" [articleSlug]="article.slug" />
        </div>
      </div>
    </div>
  </div>
}

<ng-template #articleMeta let-article>
  <app-article-meta [article]="article">
    @if (canModify$ | async) {
      <app-article-settings [article]="article" />
    } @else {
      <span>
        <app-follow-button [profile]="article.author" (toggle)="toggleFollowing($event)" />

        <app-favorite-button [article]="article" (toggle)="onToggleFavorite($event)">
          {{ article.favorited ? 'Unfavorite' : 'Favorite' }} Article
          <span class="counter">({{ article.favoritesCount }})</span>
        </app-favorite-button>
      </span>
    }
  </app-article-meta>
</ng-template>
