<div class="settings-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Your Settings</h1>

        <app-list-errors [errors]="errors$ | async" />

        <app-settings-form
          [user]="user$ | async"
          [disabled]="!!(isSubmitting$ | async)"
          (submit)="submitForm($event)"
        />

        <!-- Line break for logout button -->
        <hr />

        <button class="btn btn-outline-danger" (click)="logout()">Or click here to logout.</button>
      </div>
    </div>
  </div>
</div>
